<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.cmfz.dao.AdminDao" >
	<insert id="insertAdmin">
		<selectKey keyProperty="adminId" order="BEFORE" resultType="java.lang.String">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into t_admin values(#{adminId},#{adminName},#{adminPassword},#{adminSalt},#{adminRank})
	</insert>


	<delete id="deleteAdmin">
			delete from t_admin where admin_name=#{adminName}
	</delete>



	<update id="updateAdmin">
		update t_admin
		<set>
			<if test="adminName!=null and adminName!=''">admin_name=#{adminName},</if>
			<if test="adminPassword!=null and adminPassword!=''">admin_password=#{adminPassword},</if>
			<if test="adminSalt!=null and adminSalt!=''">admin_salt=#{adminSalt},</if>
			<if test="adminRank!=null and adminRank!=''">admin_rank=#{adminRank},</if>
		</set>
		where admin_id=#{adminId}
	</update>
	  
	<select id="selectByName" resultType="Admin">
		select admin_id,admin_name,admin_password,admin_salt,admin_rank from t_admin
		where admin_name = #{adminName}
	</select>

	<!--根据名字查询角色-->
	<select id="selectRoleByAdminName" resultType="Role">
		select role_id,role_name,role_tag from t_role
		where role_id in (select role_id from t_admin_role where admin_id = ( select admin_id from t_admin where admin_name = #{adminName}))
	</select>

	<!--根据名字查询权限-->
	<select id="selectPermissionByAdminName" resultType="Permission">
		SELECT
			permission_id,
			permission_name,
			permission_tag
		FROM
			t_permission
		WHERE
			permission_id IN (
		SELECT
			permission_id
		FROM
			t_role_permission
		WHERE
			role_id IN (
		SELECT
			role_id
		FROM
			t_admin_role
		WHERE
			admin_id = (
		SELECT
			admin_id
		FROM
			t_admin
		WHERE
			admin_name = #{adminName}
		)
		)
		)
	</select>
  	
</mapper>
